  
  /* BODY STUFF _______________________ */
  body {
    padding-top:85px;
    background: linear-gradient(to bottom, #FFF 50%, #99b 100% );
  }
   #h-title {
  color: #5a5a5a;
  text-align: center;
  width: 90%;
  margin: 40px 0px 0px 0px;
  padding: 10px;
  font-size: 55px;
}
  #h-title {
  padding-top: 5px;
  padding-bottom: 10px;
} 
a {

}  
#addtocart {
  background-color: rgb(255, 172, 0);
  border: none;
  border-radius: 2px; 
}
#addtocart:hover {
  background-color: rgb(255, 219, 0);
}
  /* CARD _________________________ */
  .card {
    overflow: hidden;

  }
  .center {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding:0 5%;
    background:#fff;
  }
  .prodpic {
    height: 250px;
  }
  .center h3 {
    margin-top: 40px;
    font-weight: bold;
  }
  .card img {
    max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  }
  .card img:hover {
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  }
  .prix
  {
     color: #178119;
    font-family: cursive;
    font-size: 17px;
    margin: 5px;
  }

  /* MAIN IMAGE _______________________ */ 
  #main-img {
    
    width:100%; 
    filter: brightness(50%);
  }
  .search {
    position: absolute;
    color: white;
    bottom: 200px;
    left:660px;
    line-height: 40px;
  }
  .search #p1 {
    font-family: Bookman Old Style;
    font-size: 45px;
  } 
  .search #p2 {
    font-family: Britannic;
    font-size: 55px;
    font-weight: bold;
  }

  /* CATEGORY __________________________ */
  .category a:hover {
    text-decoration: none;
    color: #5BC0DE;
  }
  .imgcategory{
     box-shadow: 0 0px 3px rgba(0,0,0,0.5), 0 0px 2px rgba(0,0,0,0.5);
     width: 180px;
    transition:transform 1s;
  } 
  .img-circle {
     transform-type: preserved;
  }
  .img-circle:hover {
     box-shadow: 0 0px 15px rgba(91, 192, 222 ,0.5), 0 0px 15px rgba(91, 192, 222 , 0.5);
    transform: rotateY(180deg);
  } 