	body {
		padding-top:90px; 
		background-color:#f5f5f5;
	}

	/* debut style div-produit*/
	#addtocart {
	  background-color: rgb(255, 172, 0);
	  border: none;
	  border-radius: 2px; 
	}
	#addtocart:hover {
	  background-color: rgb(255, 219, 0);
	}
	.divproduit{
		box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.25);
		text-align:center;
		background-color:#FFF;
		float:left;
		margin-top:10px;
		margin-bottom:15px;		
		padding-bottom:10px;
		height: auto;
		width: 100%;
	}
	.row {
		margin:0px !important;
		padding:0px;
	}
	.col-item .photo img
	{
		width: 100%;
	}
	
	.info
	{
	   color: #444;
		font-weight: 600;
		font-size: 20px;
		margin: 5px;
	}
	.prix
	{
	   color: #178119;
		font-family: cursive;
		font-size: 17px;
		margin: 5px;
	}
	.autre{
		padding-bottom:10px !important;
	}
	/* fin style div-produit*/
	/* debut style pagination*/
	.pagination a{
	  border-radius: 0 !important;
	  border: 1px solid #bbb;
	  font-weight: 600 !important;
	}
	.pageactive{
		background-color: darkseagreen !important;
		color: #FFF !important;
	}
	.pagedisable{
		pointer-events: none;
		color: #aaa !important;
	}
	/* fin style pagination*/
	.selecto{
		box-shadow: none !important;
		border: 1px solid #ddd;
		border-radius:0;
		margin-bottom: 20px;
	}